html, body{
  font-family: Arial, Helvetica, sans-serif
}

* {
  box-sizing: border-box;
}

div.container {
  width: 80%;
  margin: 50px auto;
}

span.active {
  background-color: gray;
}

div.user-name-box {
  float: right;
  span.user-name {
    font-weight: bold;
  }
}
