.quiz-form {

  text-align: center;

  .question-box {
    margin: 10px 0;
  }

  label.question-word {
    display: block;
    margin: 15px 0;
    font-size: 24px;    
  }

  .correct-answers-list {
    color: #bbb;
  }

  .correct-sentences-list {
    font-style: italic;
    margin: 20px 0;
  }

  .wrong-answer {
    color: darkred;
  }

  input {
    padding: 8px;
  }

  .question-result {
    margin: 10px 0;
  }

  button[type="submit"] {
    display: none;
  }
}